.nav-wrap {
	background:$primary;
}
.main-navigation {
	display: block;
	position: relative; 
	text-align:center;
	font-weight:700;
	
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		margin-top: 0px;  
		li {
			padding:0px;
		}
		ul {    
			box-shadow: none;  
			float: left;
			text-align:left;
			position: absolute;   
			top: auto;
			left: -999em;
			z-index: 99999; 
			margin: 0;
			&:before {
				position: absolute;
				content:"";
				width: 15px;
				height: 15px;
				background-color: $secondary;
				transform: rotate(-45deg);
				top: -5px;
				left: calc(20%);
				z-index:10;
			}
		}
		ul.sub-menu,ul.children {   
			box-shadow: none;
			float: left;
			text-align:left;
			position: absolute;
			top: auto;
			left: -999em;
			z-index: 99999; 
			margin-top: 5px;
			ul {
				left: -999em;
				top: 0;
				margin-top: 5px;
				&:before {
					display: none;
				}
				li:first-child {
					
				}
			}
			li {
				
				margin: 0;
				height: auto;
				float:left;
				color:$white;
				position: relative; 
				&:last-child a {
					border: 0;
				}

				&:hover > ul {
					right: 100%;
				}

			}
			a {
				min-width: 230px;
				color:$white;
				height: auto;
				font-size:14px;
				font-weight:normal;
				position:relative;
				font-family: $copy_font; 
				padding: 12px 7px 10px 20px;
				text-transform: uppercase;
				background:$secondary;
				&:hover {
					color:$primary;
				}

			}

			:hover > a {}

			a:hover {}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li.menu-item-has-children,li.page_item_has_children {
		a {
			padding:20px 30px 20px 25px;
			&:after {
				position:absolute;
				content:'\f0d7';
				font-family:"FontAwesome";
				padding-left:8px;
			}
		}
	}
	li {
		display:inline-block;
		position: relative;
		//margin:0px 2px;
		&:hover ul {
			margin-top:0px;
			border:5px solid transparent;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		color: $white;
		text-transform:uppercase;
		padding: 20px 25px;
		position: relative;
		font-weight: 700;
		font-size:16px;
		&:hover {
			color:$secondary;
		}
	}

	.children {
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			color: $white;  
			background-image : none;
		}
	}

	li li a {
		margin-right: 0;
		&:after {
			display: none;
		}
	}
	
	.current_page_item > a,   
	.current-menu-item > a,
	.current-menu-parent > a,
	.current_page_ancestor > a,
	.current_page_parent > a {	  
		color: $white;
		&:after {
			
		}		
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled  ul.nav-menu {
		display: block;
		margin: auto;
		li {
			border-bottom: 1px solid $c4;
			float:none;
		}
		ul {
			padding-left: 10%;
			position: static;
			text-align: none;
			float: none;
			 li {
			 	background-color: transparent;
			 	a {
			     	color: $white;	
			 	}
			 }
		}
	}

	.main-navigation  ul.nav-menu {
		display: none;
	}
}

.comment-navigation,
.paging-navigation,
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation  {
	margin-bottom: 2.5em;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 48%;
}



.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 47%;
}

.post-navigation {
	span {
		display: none;
	}
	.meta-previuous-post,.meta-next-post {
		display: block;
		text-transform: capitalize;
		color: $secondary;
		position: relative;
		@include font-size(1.6);
		padding-left: 25px;	
		&:before {
			position: absolute;
			content:"\f177";
			font-family: "FontAwesome";
			@include font-size(1.6);
			left:0;
			top: 2px;
			font-weight: 400;
		}
		&:hover {
			&:before {
				color:$primary;
			}
		}
	}
	.meta-next-post {
		padding-right: 25px;	
		&:before {
			left: auto;
			content:"\f178";
			right:0;
		}
	}
	a {
		color: $secondary !important;
		font-weight:400;
		border: none!important;
		padding:0px !important;
		display:inline-block !important;
		font-family: $copy_font!important;
		&:hover {
			color: $primary!important;	
			background-color: transparent!important;
		}
	}
	.nav-previous a {
        padding-left:0!important;
	}
	.nav-next a {
		padding-right:0!important;
	}
	.nav-previous,.nav-next {
	  &:hover a {
	  	background-color: transparent!important;
	  }
	}
}

.navigation a,
.comment-navigation a {
		color:$c3;
		border:1px solid $c2;
		padding-top: 12px;
		padding-bottom: 12px;
		display: block;
		&:hover {
			background-color: $white;
			border-color: $c3;
			color: $c3;
		}
}


.comment-navigation {
	position: relative;
	.nav-previous {
		a {
			padding-left: 50px;
			position: relative;
			font-weight: 700;
		}

		&:hover {
			a {
				background: $c3;
				color: $white;
				.meta-nav {
					color: $white;
				}
			}
		}
	}

	.nav-next {
		a {
			padding-right: 50px;
			position: relative;
			font-weight: 700;
		}
		&:hover {
			a {
				background: $c3;
				color: $white;
				.meta-nav {
					color: $white;
				}
			}
		}		
	}

}


.nav-links,
.more-link,.comment-navigation {
	position: relative;

	a {
		position: relative;
		@include font-size(1.8);     
		font-family: $heading-font;
		
	}

	.meta-nav {
		width: 20px;
		height: 20px;
		background-color: $white;
		display: inline-block;
		color: $secondary;
		@include border-radius(25px);
		text-align: center;
		@include font-size(2.2);
		@include position(absolute);
		line-height: 18px;
		top: 30%;
		font-weight: 700;
	}
	.nav-previous:active,.nav-next:active {
		
	}

	.nav-previous {
		a {
			padding-left:15px;
			padding-right:15px;
			border-radius: 3px;
			display:inline-block;
		}

		.meta-nav {
			left: 20px;
		}
		&:hover {
			a {
				background: $primary;
				color: $white;
				.meta-nav {
					color: $primary;
					background: $white;
				}

			}
		}
	}

	.nav-next {
		a {
			padding-left:15px;
			padding-right:15px;
			border-radius: 3px;
			display:inline-block;
		}

		.meta-nav {
			right: 20px;
		}
		&:hover {
			a {
				background: $primary;
				color: $white;
				
				.meta-nav {
					color: $primary;
					background: $white;
				}
			}
		}		
	}
}


.nav-links a:hover .meta-nav {
	background-color: transparent;
	color: $c3;
}
.page-navigation {
	margin-top: 60px;
	text-align:center;
}

.menu.nav-menu::after, .menu.nav-menu::before {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    }

.navigation.pagination {
	margin: 0;   
	list-style-type: none;  
	position: relative;
	text-align: center;
	margin: 50px 0px;

	
	.page-numbers {
		display: inline-block;
		margin-right: 10px;
		padding: 7px 10px 5px;   	
		text-align: center;
		@include font-size(1.4);
		color: $c3;
		
	
	}
	.page-numbers.current {
		color: $c3;
		border:2px solid $c3;
		text-align: center;
		@include font-size(1.4);	
		border-radius: 3px;
		
	}

	.prev.page-numbers,.next.page-numbers {
	  // color: transparent;
	    border: none;
	
	}


}



