.widget_search {
	.search-form {
		position: relative;
		@include font-size(1.6);
		
		label {
			display: block;		
		}

		input[type="search"] {
			color: $c3;
			width: 100%;
			padding: 5px;
			background: transparent;
		}
		input[type="search"]:focus {
			background: $white;
			color: $c3!important;
		}
		input[type="submit"]  {
			border: 0;
			position: absolute;     
			right:-11px;
			top: 1px;
			font-weight:normal;
			padding:10px;
			font-size:14px;
			border-radius:0;
			height: 39px;   
		}	
	}
} 
 
.nav-wrap {
	.search-form {
		top: 13px;
		text-align: right;
		  position: relative;
		  margin: 0px 10px;

			
			 .search-submit {
			    position: absolute;
			    right: -5px;
			    margin: 0;
			    padding:5px;
			    top: 10px;   
			    border: none;
			    color: transparent;
			    
			}
			
	}
}    