.widget_tag_cloud {
	a {
		padding: 4px 15px !important;
		color: $white;
		margin: 3px ;
		font-size:16px !important;
		display: inline-block;
		background-color: $primary;
	    border: 1px solid $primary;
	    &:hover {
	      background: $secondary;
	    }
	}
}
