.site-footer .footer-widgets {
	margin-top: 0;
}
	
.site-footer {
	background: $secondary;
	color: $white;
	.footer-widgets {
		padding: 90px 0 50px;
		color:$white;
		h4.widget-title {
			color: $white; 
			margin-bottom:25px;
			@include font-size(2.6);
			padding-bottom:10px;
			position:relative;
			&:after {
				position:absolute;
				content:"";
				width:25%;
				bottom:0px;
				left:0px;
				border-bottom:1px solid $primary;
			}
			
		}

	    .alpha,.alpha aside {
	      margin-left:0;
	    }

	    .omega,.omega aside {
	      margin-right:0; 
	    }
	    omega {
	    	float: right;
	    }
		aside {
	      margin: 0 30px 3.5rem;
	    }
	    ul {
	    	padding-left:0;
	    }

		ul li {
			padding-bottom: 5px;
			padding-top: 5px;
			@include transition-default(all, 0.5s, ease);
		}

		ul.children,
		.widget_nav_menu ul.sub-menu {
			border-bottom:none;
			border-top:none;
		}
		

		select {
			width: 100%;
			background: $secondary url('images/down.png') no-repeat 95% 50% secondary;
			-moz-appearance: none;
			border: 1px solid $c1;
			padding: 5px 10% 5px 3%;

		}
		.widget_search .search-form input[type="search"] {
			color: $white;
		}

		a {
			color: $white;
			&:hover{
				color: $primary;
			}
		}

		p {
			margin-bottom: 0;
		}
		.widget_nav_menu li {
			border-bottom: none;
				
		}

		.widget_tag_cloud a {
			color: $white;
			&:hover {
				background-color: $secondary;
			}
		}

		ul li {
			padding:5px 0px 5px 18px;
			list-style:none;
			position:relative;
			@include transition-default(all, 0.5s, ease);
			&:before {
				position:absolute;
				content:"\f0da";
				left:0px;
				font-weight:normal;
				font-family: "FontAwesome";

			}
		}

		.widget_rss ul li {
			background: none;
		}

	}
	.scroll-to-top {
		background: $primary;
		color: $white;
		bottom: 3%;
		cursor: pointer;
		//display: none;
		position: fixed;
		right: 20px;
		z-index: 999;
		text-align: center;
		line-height: 40px;
		width: 40px;
		@include border-radius(4px);
		-webkit-transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
	}
	.scroll-to-top:hover {
		background: rgba($primary, 0.8);
	}
}




@import "bottom-footer";